__pycache__/
*.py[cod]
*$py.class
*.swp
/bin/*
/lib/*
*.egg-info/
swarmopt.egg-info/
swarmopt/lib/
swarmopt/bin/
swarmopt/lib/
swarmopt/pyvenv.cfg
swarmopt/share/
*.pyc
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
